<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Security-Policy" content="worker-src 'self'; script-src 'self' 'unsafe-inline'; frame-src 'self'">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Website Title</title>

		<!-- Website Design -->
		<link rel="stylesheet" href="design/index.css">
		<link rel="shortcut icon" href="design/common/icon.ico">
		<link rel="icon" type="image/svg+xml" sizes="any" href="design/common/icon.svg">

		<!-- Open Graph -->
		<meta property="og:url" content="https://website.tld/index.html">
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="article">
		<meta property="og:title" content="Website Title">
		<meta property="og:description" content="This is the website description.">
		<meta property="og:image" content="https://website.tld/asset/index.png">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="1200">
	</head>
	<body>
		<aside>
			<ul>
				<li id="backlink"><a href="https://website.tld/index.html"><img width="32" height="32" src="design/common/icon.svg"/></a></li>
				<li><a title="About Us" href="/index.html">About</a></li>
				<li><a title="Our Products" href="/products.html">Products</a></li>
				<li><a title="Our Services" href="/services.html">Services</a></li>
				<li><a title="Our Roadmap" href="/roadmap.html">Roadmap</a></li>
				<li><a title="Contact Us" href="/contact.html">Contact</a></li>
			</ul>
		</aside>
		<main>
			<section>
				<header>
					<h1>Landingpage</h1>
					<h2>This is awesome, because yes.</h2>
					<p>
						This is the Website's Description with <q>a nice quote</q>.
					</p>
				</header>
				<article id="we-uncover-the-web">
					<h3>Article Title</h3>
					<figure alt="Map of the Internet">
						<img width="512" height="512" src="./asset/index-article.png">
					</figure>
					<p>
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
					</p>
					<p>
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
					</p>
					<p>
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
						Lorem Ipsum Dolor Sit Amet.
					</p>
				</article>
			</section>
			<footer>
				&copy; 2021 Cookie Engineer. All Rights Reserved.
			</footer>
		</main>
		<script type="module" src="design/index.mjs"></script>
	</body>
</html>
